@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body,
  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
  }

  button {
    font-family: inherit;
    border: none;
    background-color: transparent;
  }

  img {
    display: block;
    width: 100%;
  }
}

@layer font {
  body {
    font-family: "Roboto";
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .hero-title {
    font-size: 48px;
    font-weight: 900;
  }

  .info-title {
    font-size: 36px;
    font-weight: 900;
  }

  .quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
  }

  @layer font-utils {
    .fw-bold {
      font-weight: bold;
    }

    .text-end {
      text-align: end;
    }
  }
}

@layer colors {
  :root {
    --clr-cta: #3882f6;
    --clr-muted: #e5e7eb;
    --clr-bg-dark: #1f2937;
    --clr-bg-gray: #e5e7eb;
  }

  @layer sections-backgrounds {

    .site-header,
    .hero-section {
      background-color: var(--clr-bg-dark);
      color: white;
    }

    .site-footer {
      background-color: var(--clr-bg-dark);
      color: var(--clr-bg-gray);
    }

    .quote-section {
      background-color: var(--clr-bg-gray);
    }

    .cta-section {
      background-color: var(--clr-cta);
      color: white;
    }
  }
}

@layer container {
  .container {
    max-width: 1200px;
    margin-inline: auto;
  }
}

@layer buttons {
  .btn {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
  }

  .btn-primary {
    background-color: var(--clr-cta);
    color: white;
  }

  .btn-outline {
    border: 2px solid white;
  }
}

@layer spacer {
  .py-5 {
    padding-block: 5rem;
  }
}

@layer layouts {
  @layer site-header {
    .site-header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block: 1rem;
    }

    .nav ul {
      display: flex;
      gap: 1rem;
      color: var(--clr-muted);
    }
  }

  @layer hero-section {
    .hero-section .container {
      display: flex;
      gap: 2rem;

      >* {
        flex: 1;
      }
    }

    .hero-desc {
      color: var(--clr-bg-gray);
    }
  }

  @layer info-section {
    .info-title {
      text-align: center;
      margin: 0 0 3rem 0;
    }

    .card-group {
      display: flex;
      gap: 2rem;
    }

    .card-img {
      border: 4px solid var(--clr-cta);
      border-radius: 1rem;
      margin-block-end: 1rem;
    }
  }

  @layer cta-section {
    .cta-section {
      padding: 2rem 6rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @layer site-footer {
    .site-footer {
      padding: 16px;
      text-align: center;
    }
  }
}
